h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.fullpage{
  text-align: center;
  font-family: Helvetica;
}
.header{
    color: white;
    background-image: url(../images/the-flatiron-building.png);
    background-position: 80%;
    background-repeat: no-repeat;
}
.list{
  font-size: 18px;
  color: white;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}
.newyork{
  color: white;
  background-image: url(../images/the-flatiron-building.png);
  background-position: 80%;
  background-repeat: no-repeat;
}
.copyright{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.footer{
  font-size: 18px;
}

#title{
  font-size: 70px;
  font-weight: bold;
  padding-top: 30px;
}
#home{

}
#process{
  font-size: 32px;
  font-weight: bold;
}
#work{

}
#team{

}
#contact{

}
